<!DOCTYPE html>
<%- include('./partials/header') -%>
<body>
  <div class="wrapper">
    <div class="header">
      <h2 class="error">404 Not found</h2>
    </div>
    <div class="main">
      <img class="img" src="/Scarecrow.png" />
      <div class="text">
        <h1>
          I have Bad News<br />
          For You
        </h1>
        <p>
          The page you are looking <br />for does not exist or<br />
          it was moved.
        </p>
        <a href="/"><button class="btn">Back To Homepage</button></a>
      </div>
    </div>
  </div>
  <%- include('partials/footer'); -%>
</body>
