<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header'); -%>
  <body>
    <div class="wrapper">
      <div class="message" id="message"></div>
      <h2 class="signup">Update your infos</h2>
      <form action="/edit" class="form" id="form">
        <label for="Username">Username</label>
        <input type="text" name="username" placeholder="Enter new Username" />
        <div class="username error"></div>
        <label for="Email">Email Address</label>
        <input type="email" name="email" placeholder="Enter new Email" />
        <div class="email error"></div>
        <button class="edit">Update informations</button>
      </form>
      <%- include('partials/footer'); -%>
    </div>
  </body>
</html>
<script>
  const newLocal = "form";
  const Local = "message";
  const form = document.getElementById(newLocal);
  const usrError = document.querySelector(".username.error");
  const emailError = document.querySelector(".email.error");
  const message = document.getElementById(Local);

  // edit error handler

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors on submit
    emailError.textContent = "";
    usrError.textContent = "";
    message.textContent = "";
    message.style.backgroundColor = "transparent";

    //get values
    const email = form.email.value;
    const username = form.username.value;
    const endpoint = window.location.href;
    try {
      const res = await fetch(endpoint, {
        method: "POST",
        body: JSON.stringify({
          username,
          email,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      });

      const data = await res.json();
      console.log(data);
      if (data.editErr) {
        emailError.textContent = data.editErr.email;
        usrError.textContent = data.editErr.username;
        message.textContent = "Edit failed";
        message.style.backgroundColor = "Red";
      }
      if (data.user) {
        // show success message
        message.style.backgroundColor = "#23CE6B";
        message.textContent = " Edit Successfully ! Redirecting ..";
        location.assign("/smoothies");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
